body{
    background-image: url(489068.jpg);
}
.div1{
   border:none,solid;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.736);
    padding-left: 8px;
    padding-right: 30px;
    padding-bottom: 95px;
    width: 300px;
    height: 640px;
    display: inline-block;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size:25px;
    color:white;
    margin-top: 50px;
    margin-left: 6px;
    text-align:center;
    border-left: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.job{
    color:white;
    text-align: center;
    font-size: 17px;
}
.about{
color:white;
background-color:rgba(0, 0, 0, 0);
font-family:Arial, Helvetica, sans-serif;
font-size: 18px; 
padding-bottom: 20px;
padding-left: 8px;
padding-top: 20px;
cursor: pointer;
background: none;
border:none;
display:inline-block;
} 
.div{
display: flex;
}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    opacity: 0.5;
}
a:active{
    opacity: 1;
}
.div-page{
    background-color:rgba(250, 235, 215, 0.841);;
    width: 700px;
    height: 500px;
    border-bottom: 2px white solid;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-right: 2px white solid;
    margin-left: 250px;
        margin-top: 110px;
    }
    .hobbies{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 240px;
        margin-bottom: 30px;
        margin-top: 20px;
        font-size: 25px;
    }
    .head-interests{
        margin-left: 140px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .img-photo{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .img-ping-pong{
        width: 45px;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .img-travel{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .img-chess{
        width: 35px;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;

    }
    .img-game{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;

        
    }
    .div-hobbies{
        display:flex;
     
    }


